<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
    <link rel="stylesheet" href="/addquiz.css">
</head>

<body>
    <header>
        <nav id="menu">
            <ul class="mainMenu">
                <li><span class="openNav">&#9776;</span>
                    <span class="closeNav show">&times; </span>
                    <a href="home.html" id="home"> AS Quiz Platform</a>
                </li>
                <li>Quizes</li>
                <div class="rightMenu">
                    <li>
                        <!-- <button id="createClass">+</button> -->
                        <svg id="createClass" focusable="true" width="30" height="30" viewBox="0 0 24 24"
                            class=" NMm5M">
                            <path d="M20 13h-7v7h-2v-7H4v-2h7V4h2v7h7v2z"></path>
                        </svg>
                    </li>
                    <li id="profile"><img src="/profile.png" class="profilePic" alt=""></li>
                </div>
                <!-- <div class="rightMenu">   
                </div> -->
            </ul>
            <div class="leftMenu">
                <ul>
                    <li><a href="#">Quizs</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="modal">
        <div class="addQuiz">
            <form action="http://localhost:3000/teacher/<%=ccode%>" id="addQuiz" method="post">
                <div id="head">Add New Quiz</div>
                <label for="qname">Quiz Name :</label>
                <input type="text" placeholder="Enter the Quiz Name" required name="qName" id="qname">
                <br>
                <label for="subname">Subject Name :</label>
                <input type="text" placeholder="Enter the Subject"  required name="qSub" id="subname">
                <br>
                <label for="ques">Total Questions :</label>
                <input type="number" name="qQuestions" id="ques" required placeholder="0">
                <br>
                <label for="marks">Total Marks :</label>
                <input type="number" name="qMarks" id="marks" required placeholder="0">
                <br>
                <label for="time">Time Alloted(In Minutes) :</label>
                <input type="number" name="qTime" id="time" required placeholder="0">
                <div id="btns">
                    <button id="cancel">Cancel</button>
                    <button class="adQuiz">+</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mainContent">
        <span id="dir">Teacher>Quiz </span>
        <div class="quizes">
            <%for(let quiz of allQuizes)  {%>
            <div class="quiz">
                Quiz Name : <%=quiz.qName  %> 
                <br>Subject : <%=quiz.qSub  %>
            </div>
        <% } %>
        </div>

    </div>
    <script src="/addquiz.js"></script>
</body>

</html>