/* Code for NavBar starts here*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
.navBar{
  /* backdrop-filter: blur(10px); */
  background-color: #3c3d42;
}
#navBar{
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  transition:0.6s;
}
nav .menu{
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
footer div{
    width:100%;
    background-color:#3c3d42;
    /* display:flex;
    justify-content:center; */
    float:left;
}
#pageFooter{
  list-style: none;
padding:10px;
margin:0 40px;
  
}
#pageFooter a {
  color:#f6f8e2;
  text-decoration:none;
  font-size:18px;
}
/* Code for NavBar ends here*/
/* .img{
  background-image: url('Images/Home\ Background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
} */
section{
  height:100vh;
  width:100%;
}
.first{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	height: 100vh;

}
/* .bgClass{
  background:url("/Untitled\ design\ \(13\).png");
  background-size: 100%;
  width:100%;
  height:100vh;
} */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.second{
  background-color:#48cae4;
  display:flex;
}

.third{
  background-color:#0096c7;
}
.forth{
  background-color: #023e8a;
}

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid white;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.btns a{
  color:white;
  font-size:20px;
}
.btns button{
    background:none;
    color:white;
}
.btns button:hover{
    color:black;
    background:white;
}



